spring.datasource.url=jdbc:oracle:thin:@a6etg25wwemt8hf_high?TNS_ADMIN=/app/wallet
spring.datasource.username=PELUQUERIA
spring.datasource.password=ClaveSegura123!
spring.datasource.driver-class-name=oracle.jdbc.OracleDriver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.database-platform=org.hibernate.dialect.OracleDialect